<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
        <!-- this is footer -->
        <table align="center">
        <tr>
        <th  style="font-weight:lighter;" >© 2017 cyberdemon</th>
            <span sec:authorize="isAuthenticated()">
               <th  style="font-weight:lighter;"> | Logged user: <span sec:authentication="name"></span></th> <th  style="font-weight:lighter;">|
                Roles: <span sec:authentication="principal.authorities"></span> |</th>
                <th  style="font-weight:lighter; color: blue;"><form th:action="@{/logout}" method="post"><input type="submit" value="Logout" /></form></th>
            </span>

			</tr>

        <script type="text/javascript"
                src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</table>
        </footer>
    </div>

</div>
</body>
</html>
