<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
 <title>Security with Spring Boot</title>
 </head>
 <body>
     <h1 style="text-align: center">
		<font size="20" color="black">CREATION PAGE</font></h1>
     
     <form th:action="@{/insert}"
     		th:object="${car}" method="post">
     		
     		<table align="center" cellpadding="2" cellspacing="2">
		<tr>
			<td>Company</td>
			<td><input type="text" th:field="*{company}"/></td>
		</tr>
		<tr>	
			<td>Model</td>
			<td><input type="text" th:field="*{model}"/></td>			
		</tr>	
		<tr>	
			<td>Price</td>
			<td><input type="text" th:field="*{price}"/></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Save"/></td>
		</tr>
     		</table>
     		</form>     
    	<p></p>
    	
     <div style="text-align: center"><a style="color:blue" th:href="@{/welcome}">Go to User Welcome Page!</a></div>
     
 
 </body>
</html>